<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} - CodeSpace{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2/dist/tailwind.min.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-700">
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between">
            <a href="/" class="text-white text-xl font-bold">CodeSpace</a>
            <a href="/" class="text-white text-xl font-bold">Projects</a>
            <a href="/auth/login" class="text-white text-xl font-bold">Login</a>
            <div>
            </div>
        </div>
    </nav>
    <main class="container mx-auto p-4 bg-gray-700 flex justify-center">
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>